@media screen and (min-width: 280px) {
  .login-image {
    background-image: url("../assets/login/phone/Curious-amico.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    margin-top: 0.5rem;
  }

  .login-input {
    height: 6vh;
    color: #dd5928;
    border: 2px solid #dd5928;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  .login-form{
    margin-top: 2rem;
    height: 29vh;
  }
  .login-button{
    width: 27%;
    height: 6vh;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    background-color: #DD5928;
    border-radius: 5px;
    color: white;
    border: none;
  }
}
