@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 280px) {
  .banner {
    width: 70%;
    height: 6vh;
    font-size: 0.8rem;
    background-color: #dd5928;
    margin: 0 auto;
    text-align: center;
    color: white;
    border-radius: 0px 0px 8px 8px;
  }
  .reset-image {
    width: 100%;
    margin-top: 0.5rem;
    height: 50vh;
    background-image: url(./assets/reset/phone/question_amico.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .reset-text{
    font-size: 0.5rem;
    color: #DD5928;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  .reset-form{
    margin-top: 2rem;
    height: 20vh;
  }
  .reset-input{
    height: 6vh;
    color: #DD5928;
    border: 2px solid #DD5928;
    border-radius: 5px;
    margin-left: 0.5rem;
  }
  .reset-button{
    width: 27%;
    height: 6vh;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    background-color: #DD5928;
    border-radius: 5px;
    color: white;
    border: none;
  }
  .reset-button:hover {
    background-color: #5F5B5B;
    cursor: pointer;
  }

}

/* for iphone SE */
@media screen and (min-width: 375px){
  .reset-image{
    width: 100%;
    margin-top: 0.5rem;
    height: 50vh;
    background-image: url(./assets/reset/phone/question_amico.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .reset-form{
    margin-top: 2rem;
    height: 20vh;
  }
  .reset-input{
    width: 85%;
    height: 6vh;
    color: #DD5928;
    border: 2px solid #DD5928;
    border-radius: 5px;
    margin-left: 0.5rem;
  }

  .reset-text{
    font-size: 0.6rem;
    color: #DD5928;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
}
