*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 280px){
  .banner{
    width: 70%;
    height: 6vh;
    font-size: 0.8rem;
    background-color: #DD5928;
    margin: 0 auto;
    text-align: center;
    color: white;
    border-radius: 0px 0px 8px 8px;
  }
}
